
/* The main body of the page */
* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    background-color: #fff;
}

/* The navigation bar of the page */
.nav {
    height: 42px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.links {
    display: inline-block;
    vertical-align: middle;
    color: #202124;
    font: 14px arial sans-serif;
    padding-top: 7px;
    text-decoration: none;
    line-height: 24px;
}

a:hover{
    text-decoration: underline;
}

/* The main content of the page */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}
.image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.specifier {
    position: absolute;
    color: #4285f4;
    font-size: 11px;
    margin-left: 198px;
    top: 26em;
    text-align: center;
    
}

.container-form {
    border: 20px;
    display: flex;
    justify-content: center;
}

.submit-button {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input[type="text"] {
    padding: 2px 25px;
    box-sizing: border-box;
    margin-left: -250px;
    width: 500%;
    height: 35px;
    border: 1px solid black;
    border-radius: 4em / 5em;;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/* The footer of the page */
footer {
    background-color: #f8f9fa;
    margin-top: auto;
    
}

.container-footer {
    display: flex;
    justify-content: space-between;
    
}
.footer-links {
    display: inline-block;
    vertical-align: middle;
    color: #70757a;
    font: 14px arial sans-serif;
    text-decoration: none;
    line-height: 24px;
    padding: 12px;
}

.left-links {
    margin-left: 10px
}

.right-links {
    margin-right: 10px;
}